.Header {
    opacity: 80%;
    line-height: 2.5em;
    font-size: 1.25em;
    border-bottom: 1px solid rgb(187, 187, 187);
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
  }
  
  .Header .Title {
    margin-left: 10px;
  }
  
  .Header .Profile {
    margin-right: 10px;
  }
  
  .Header .divider {
    flex: 1 1;
    display: inline-block;
  }